version: "3.9"

services:
  api:
    image: bloom-api:latest
    platform: linux/amd64
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env
  #   depends_on:
  #     - db
  # redis:
  #   image: redis:latest
  #   ports:
  #     - "6379:6379"
  #   depends_on:
  #     - db
  # db:
  #   image: postgres:latest
  #   environment:
  #     - POSTGRES_PASSWORD=postgres
  #   ports:
  #     - "5432:5432"
    