name: Deploy Bloom

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e

            cd /root/Bloom

            git pull origin main

            pnpm install

            pnpm turbo run build

            echo "==> Stop old processes"
            fuser -k 3000/tcp || true
            fuser -k 4040/tcp || true
            fuser -k 4000/tcp || true

            cd apps/api
            nohup node dist/src/index.js > /var/log/bloom-api.log 2>&1 &

            cd ../ws-server
            nohup node dist/src/index.js > /var/log/bloom-ws.log 2>&1 &

            cd ../worker
            nohup node dist/src/index.js > /var/log/bloom-worker.log 2>&1 &

            cd ../web
            nohup pnpm start > /var/log/bloom-web.log 2>&1 &

            echo "==> Deploy finished"
