name: Deploy Bloom

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy on VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Load Node / pnpm
            export NVM_DIR="$HOME/.nvm"
            source "$NVM_DIR/nvm.sh"

            cd /root/Bloom

            git pull origin main

            pnpm install

            pnpm turbo run build

            cd ..
            
            pm2 restart ecosystem.bloom.config.js
            
            echo "==> Deploy finished"
